.treegrid-row {
	width: 100% !important;
	display: table-row;
}

.treegrid-cell {
	display: table-cell;
	padding: 0.4rem;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}

	.treegrid-cell.last {
		border-right: none;
	}
