@import '_content/ZhiLiangPt.Client.Service/ZhiLiangPt.Client.Service.bundle.scp.css';
@import '_content/ZhiLiangPt.UI/ZhiLiangPt.UI.bundle.scp.css';
@import '_content/ZhiLiangPt.Web/ZhiLiangPt.Web.bundle.scp.css';

/* /Components/CardAccountCreate.razor.rz.scp.css */

.card[b-3wtrjf457r] {
    max-width: 60rem;
    margin: 1rem 0 1rem 0;
    border-radius: 1rem;
}

.card-header[b-3wtrjf457r] {
    border-radius: 1rem 1rem 0 0;
}

.card-footer[b-3wtrjf457r] {
    border-radius: 0 0 1rem 1rem;
}

    .card-footer.align-center[b-3wtrjf457r] {
        text-align: center;
    }

    .card-footer.align-end[b-3wtrjf457r] {
        text-align: end;
    }
/* /Components/NavMenuItem.razor.rz.scp.css */
.navbar-toggler[b-dvh1kwghs5] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-dvh1kwghs5] {
    height: 3.5rem;
    background-color: #e0e0e0; /* rgba(0,0,0,0.4); */
}

.navbar-brand[b-dvh1kwghs5] {
    font-size: 1.2rem;
    font-family: Tahoma;
    font-weight:bold;
    color:white;
    padding-top:0rem;
}

.oi[b-dvh1kwghs5] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-dvh1kwghs5] {
    font-size: 0.9rem;
    /*
    padding-bottom: 0.5rem;
    */
}

    .nav-item:first-of-type[b-dvh1kwghs5] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-dvh1kwghs5] {
        padding-bottom: 1rem;
    }

    .nav-item[b-dvh1kwghs5]  a {
        color: #d7d7d7;
        border-radius: 4px;
        align-items: center;
    }

.nav-item[b-dvh1kwghs5]  a.active {
    background-color: rgba(255,255,255,0.8);
    color: white;
}
        .nav-item[b-dvh1kwghs5]  a.active-folder {
            background-color: rgba(255,255,255,0.4);
            color: white;
        }

.nav-item[b-dvh1kwghs5]  a:hover {
    background-color: rgba(255,255,255,0.5);
    color: white;
}

.nav-item label[b-dvh1kwghs5] {
    margin-left:0.4rem;
}

@media (min-width: 641px) {
    .navbar-toggler[b-dvh1kwghs5] {
        display: none;
    }

    .collapse[b-dvh1kwghs5] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Pages/Index.razor.rz.scp.css */
/*layout {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
}*/

page[b-bwolq7afw2] {
	background-color: #d6dee1;
	/* width: calc(100% - 400px); */
	width: 100%;
	display: flex;
	flex-flow: column;
}

@media screen and (max-width: 992px) {
	tree[b-bwolq7afw2] {
		width: 100%;
	}
}

pagebar[b-bwolq7afw2] {
	width: 100%;
	height: 3.5rem !important;
	min-height: 3.5rem !important;
	background-color: #f7f7f7;
	border-bottom: 1px solid #d6d5d5;
	display: table-row;
}

pagemain[b-bwolq7afw2] {
	/* background-color: skyblue; */
	width: 100%;
	/* max-width: 60rem; */
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 1rem;
}

/* custom scrollbar */
[b-bwolq7afw2]::-webkit-scrollbar {
	width: 1rem;
}

*:hover[b-bwolq7afw2]::-webkit-scrollbar {
	width: 1rem;
}

[b-bwolq7afw2]::-webkit-scrollbar-track {
	background-color: transparent;
}

[b-bwolq7afw2]::-webkit-scrollbar-thumb {
	background-color: #eeeeee;
	border-radius: 20px;
	border: 3px solid transparent;
	background-clip: content-box;
}

	[b-bwolq7afw2]::-webkit-scrollbar-thumb:hover {
		background-color: #ffffff;
	}

.card[b-bwolq7afw2] {
	max-width: 60rem;
	margin: 1rem 0 1rem 0;
	border-radius: 1rem;
}

.card-header[b-bwolq7afw2] {
	border-radius: 1rem 1rem 0 0;
}

.card-footer[b-bwolq7afw2] {
	border-radius: 0 0 1rem 1rem;
}

	.card-footer.align-center[b-bwolq7afw2] {
		text-align: center;
	}

	.card-footer.align-end[b-bwolq7afw2] {
		text-align: end;
	}
/* /Pages/IndexTickNode.razor.rz.scp.css */
/*layout {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
}*/

tree[b-icdy21drcd] {
	background-color: blue;
	width: calc(100% - 400px);
	display:flex;
	flex-flow:column;
}

@media screen and (max-width: 992px) {
	tree[b-icdy21drcd] {
		width: 100%;
	}
}

treebar[b-icdy21drcd] {
	width: 100%;
	height: 3.5rem!important;
	min-height:3.5rem!important;
	background-color: #f7f7f7;
	border-bottom: 1px solid #d6d5d5;
	display: table-row;
}

treemain[b-icdy21drcd] {
	background-color: skyblue;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

panel[b-icdy21drcd] {
	display: block;
	background-color: green;
	width: 400px !important;
}

/*panelframe {
	position: sticky;
	background-color: yellow;
	width: 100%;
	height: 100%;
}*/


/* custom scrollbar */
[b-icdy21drcd]::-webkit-scrollbar {
	width: 20px;
}

*:hover[b-icdy21drcd]::-webkit-scrollbar {
	width: 25px;
}

[b-icdy21drcd]::-webkit-scrollbar-track {
	background-color: transparent;
}

[b-icdy21drcd]::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

	[b-icdy21drcd]::-webkit-scrollbar-thumb:hover {
		background-color: #eeeeee;
	}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-z3ao08xruy] {
	position: relative;
	display: flex;
	flex-direction: column;
}

main[b-z3ao08xruy] {
	flex: 1;
}

.sidebar[b-z3ao08xruy] {
	/* background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%); */
	background-color: #eeeeee;
}

.top-row[b-z3ao08xruy] {
	background-color: #f7f7f7;
	border-bottom: 1px solid #d6d5d5;
	justify-content: flex-end;
	height: 3.5rem;
	display: flex;
	align-items: center;
}

	.top-row[b-z3ao08xruy]  a, .top-row[b-z3ao08xruy]  .btn-link {
		white-space: nowrap;
		margin-left: 1.5rem;
		text-decoration: none;
	}

		.top-row[b-z3ao08xruy]  a:hover, .top-row[b-z3ao08xruy]  .btn-link:hover {
			text-decoration: underline;
		}

		.top-row[b-z3ao08xruy]  a:first-child {
			overflow: hidden;
			text-overflow: ellipsis;
		}

content[b-z3ao08xruy] {
	display: flex;
	background-color: red;
	align-items: stretch;
}


@media (max-width: 640.98px) {
	.top-row:not(.auth)[b-z3ao08xruy] {
		display: none;
	}

	.top-row.auth[b-z3ao08xruy] {
		justify-content: space-between;
	}

	.top-row[b-z3ao08xruy]  a, .top-row[b-z3ao08xruy]  .btn-link {
		margin-left: 0;
	}

	content[b-z3ao08xruy] {
		height: calc(100vh - 56px);
	}
}

@media (min-width: 641px) {
	.page[b-z3ao08xruy] {
		flex-direction: row;
	}

	.sidebar[b-z3ao08xruy] {
		width: 15rem;
		height: 100vh;
		position: sticky;
		top: 0;
	}

	.top-row[b-z3ao08xruy] {
		position: sticky;
		top: 0;
		z-index: 1;
	}

		.top-row.auth[b-z3ao08xruy]  a:first-child {
			flex: 1;
			text-align: right;
			width: 0;
		}

	.top-row[b-z3ao08xruy], article[b-z3ao08xruy] {
		padding-left: 2rem !important;
		padding-right: 1.5rem !important;
	}

	content[b-z3ao08xruy] {
		height: 100vh;
	}
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-paoxw2du2c] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-paoxw2du2c] {
    height: 3.5rem;
    background-color: #e0e0e0; /* rgba(0,0,0,0.4); */
}

.navbar-brand[b-paoxw2du2c] {
    font-size: 1.2rem;
    font-family: Tahoma;
    font-weight:bold;
    color:white;
    padding-top:0rem;
}

.oi[b-paoxw2du2c] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

@media (min-width: 641px) {
    .navbar-toggler[b-paoxw2du2c] {
        display: none;
    }

    .collapse[b-paoxw2du2c] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
